{% macro active(activePage, menu) %}
<ul>
    {% for item in menu %}
        <li><a href="/{{ item.slug }}"{% if activePage == item.slug %} class="active"{% endif %}>{{ item.title }}</a></li>
    {% endfor %}
</ul>
{% endmacro %}