<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#000">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ stylesPath }}/styles.css">
</head>

<body>
{% import 'macros/nav.njk' as nav %}

    <header>
        {{ nav.active(slug, menu) }}
    </header>


    {% block content %}
    {% endblock %}

{% include "partials/footer.njk" %}

</body>
</html>
